
# Next.js app in 'UI' folder
UI/.next/
UI/node_modules/
UI/.env*
UI/.DS_Store
UI/npm-debug.log*
UI/yarn-debug.log*
UI/yarn-error.log*
UI/.eslintcache
UI/out/

.DS_Store
.vscode/
.idea/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*